name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-2022

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSVC dev command prompt
      uses: TheMrMilchmann/setup-msvc-dev@v3
      with:
        arch: x64

    - name: Build
      run: msbuild /m /v:m /p:Configuration=Debug /p:Platform=x64 ConsoleApplication1.sln

    - name: check PATH
      run: |
        ${env:PATH}.Split(';')
      shell: pwsh

    - name: Run
      run: |
        x64\Debug\ConsoleApplication1.exe
        echo $LastExitCode
